<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center px-3">
        <img src="https://pbs.twimg.com/profile_images/1239537967313686529/88Dv0UkP_400x400.jpg" alt="Sakai logo" class="logo-circular mb-3 mt-3 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-4 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                <span class="text-blue-500 font-bold text-3xl">404</span>
                <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>
                <div class="text-600 mb-5">El recurso solicitado no está disponible.</div>
                <a class="w-full flex align-items-center py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center bg-cyan-400 border-round" style="height:3.5rem; width:3.5rem;">
                        <i class="text-50 pi pi-fw pi-table text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0 block">Página en construcción</span>
                        <span class="text-600 lg:text-xl">Estamos trabajando para proporcionar el mejor servicio y con la información mas relevante de la economía local.</span>
                    </span>
                </a>
                <a href="https://www.lujan.gob.ar/" class="w-full flex align-items-center py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center bg-orange-400 border-round" style="height:3.5rem; width:3.5rem;">
                        <i class="pi pi-fw pi-question-circle text-50 text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0">Centro de Atención</span>
                        <span class="text-600 lg:text-xl">Puede comunicarse con nosotros a traves de nuestra web o vía email a muni-lujan@muni-lujan.org.ar</span>
                    </span>
                </a>
                <a [routerLink]="['/']" class="w-full flex align-items-center mb-5 py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center bg-indigo-400 border-round" style="height:3.5rem; width:3.5rem;">
                        <i class="pi pi-fw pi-unlock text-50 text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0">Problemas de Acceso</span>
                        <span class="text-600 lg:text-xl">Si tiene problemas para iniciar sesión comuniquese con el administrador de sistemas de su departamento.</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
